:root {
    --main-color: #000000;
    --primary: #f0fff7;
    --black: #141414;
    --white: #fff;
    --bg: #f2f2f2;
    --light-black: #666;
 }





/* O body abaixo se refere a área body do html, então ai está aplicando a estilização em tudo. */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(img/imagem_de_fundo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: var(--primary);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    text-decoration: none;
 }
 
 header .logo {
    font-size: 2.2rem;
    font-weight: bolder;
    color: var(--main-color);
 }
 
 header .navbar a {
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--black);
 }
 
 header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 4px solid black;
 }

/* O comando abaixo background-color é o rgba, onde consigo por transparência que varia de 0 a 1, onde 1 é 100% opaco;
   O position absolute faz com que o background ocupe apenas no espaço em que os elementos estão;
   O top, left e transform translate são para centralizar a div da maneira correta; 
   O color se refere a cor do texto */

/* O comando padding é responsável por definir uma distância interna entre um elemento e sua borda, enquanto o border-radius é para arredondar as bordas */

.tela-login {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    border-radius: 10px;
    color: black;
    width: 60%;
    
    
}

/*  */

.login {
    padding: 14px;
    border: 1px solid black;
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
    width: 97%;
}

.button {
    background-color: dodgerblue;
    border: none;
    padding: 12px;
    width: 33%;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    
}

button:hover {
    background-color: deepskyblue;
}

.tela-login h1 {
    text-align: center;
}

div img {
    display:flex;
    margin-left: 45%;
}

